header button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 8px;
}

header h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

header img {
    width: 50px;
    margin-right: 12px;
}

.carousel-img img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    max-height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(38, 37, 37);
}

#cabecalho .nav .nav-link.active {
    background-color: rgb(242, 64, 48);
    color: #fff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Ropa Sans', sans-serif;
}


#sobre {
    background-color: rgb(0, 178, 216);
}

#jogos {
    background-color: rgb(242, 64, 48);
}

.text-colored {
    color: #fff;
    text-shadow: 1px 1px 1px rgb(49, 34, 37);
}

.nav-cardapio .nav-link.active {
    background-color: #1c1c1c;
    color: rgb(228, 56, 40);
}

#caracteristicas,
#comprar {
    background-color: rgb(49, 34, 37);
    color: #fff;
}

#caracteristicas h3,
.text-colored-blue {
    color: rgb(0, 178, 216);
    text-shadow: 1px 1px 1px rgb(49, 34, 37);
}

#comprar button {
    background-color:rgb(0, 178, 216);
    color: rgb(38, 37, 37);
}

.nav-cardapio .nav-link:hover {
    color: #a25240;
}

#jogos h5 {
    font-size: medium;
    text-align: center;
    padding: 8px;
    color: #fff;
    background-color: rgb(49, 34, 37);
}

#jogos button {
    color: rgb(49, 34, 37);
}

#jogos button.active {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {

    header .section-title {
        font-size: 20px;
    }
    
    header .container img {
        width: 30px;
    }

    header .container .navbar-toggler {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
    }

    header ul {
        margin-top: 12px;
    }

    .carousel-item img {
        height: 280px;
    }

    #caracteristicas img {
        margin-top: 40px;
    }

    #caracteristicas h3 {
        margin-top: 20px;
        margin-bottom: 12px;
    }

    #jogos .tab-content img {
        margin-top: 24px;
    }
}